<div class="wrapper">
  <div class="news-header">
    <p>UNITED KINGDOM (GBP)</p>
    <p>2 COMPLIMENTARY SAMPLES AT CHECKOUT</p>
    <p>NEWSLETTER</p>
  </div>
  <nav>
    <div class="nav-links-left">
      <a href="">SHOP</a>
      <a href="">COLLECTIONS</a>
      <a href="">JO'S JOURNAL</a>
      <a href="">SEARCH</a>
    </div>
    <div class="nav-logo-center">
      <%= image_tag("joloveslogo.png", class:"logo") %>
    </div>
    <div class="nav-links-right">
      <a href="">ABOUT JO</a>
      <a href="">SCENT ARTIST CLUB</a>
      <a href="">ACCOUNT</a>
      <a href="">BAG</a>
    </div>
  </nav>
  <div class="page-details">
    <div class="page-title">
      <a href="">SHOP</a>
      <p>/</p>
      <a href="">FRAGRANCE</a>
    </div>
    <div class="page-header">
      <h2>Fragrance</h2>
    </div>
    <div class="page-filters">
      <div class="sort-text">
        <p class="sort-thin">Sort by:</p>
        <p>Best Match</p>
      </div> 
      <div class="refine-search">
        <%= image_tag("filter.png", class:"filter-img") %>
        <p>Refine</p>
      </div>
    </div>
  </div>
  <section>
    <div class="cards-top">
      
      <div class="product-card">
        <%= image_tag("jofrag.jpeg", class:"product-img")%>
        
        <div class="fragrance-text">
          <p>Pomelo</p>
          <h4>A FRAGRANCE</h4>
        </div>
        <div class="fragrance-price">
          <p>$115.00</p>
        </div>
        <div class="fragrance-quant">
          <div class="quant-disp">
            <div class="checkbox"></div>
            <p>100ml</p>
          </div>
          <div class="quant-disp">
            <div class="checkbox"></div>
            <p>50ml</p>
          </div>
          <div class="buy-btn">
            <p>Add To Bag</p>
          </div>
        </div>
      </div>

      <div class="product-card">
        <%= image_tag("jofrag.jpeg", class:"product-img")%>
        <div class="fragrance-text">
          <p>Pomelo</p>
          <h4>A FRAGRANCE</h4>
        </div>
        <div class="fragrance-price">
          <p>$115.00</p>
        </div>
        <div class="fragrance-quant">
          <div class="quant-disp">
            <div class="checkbox"></div>
            <p>100ml</p>
          </div>
          <div class="quant-disp">
            <div class="checkbox"></div>
            <p>50ml</p>
          </div>
          <div class="buy-btn">
            <p>Add To Bag</p>
          </div>
        </div>
      </div>

      <div class="product-card">
        <%= image_tag("jofrag.jpeg", class:"product-img")%>
        <div class="fragrance-text">
          <p>Pomelo</p>
          <h4>A FRAGRANCE</h4>
        </div>
        <div class="fragrance-price">
          <p>$115.00</p>
        </div>
        <div class="fragrance-quant">
          <div class="quant-disp">
            <div class="checkbox"></div>
            <p>100ml</p>
          </div>
          <div class="quant-disp">
            <div class="checkbox"></div>
            <p>50ml</p>
          </div>
          <div class="buy-btn">
            <p>Add To Bag</p>
          </div>
        </div>
      </div>
      
    </div>
  </section>
</div>